<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IdealUstam">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.onboarding.presentation.view.OnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".features.auth.presentation.view.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".features.auth.presentation.view.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".features.auth.presentation.view.ForgotPasswordActivity"
            android:exported="false" />

    </application>

</manifest>
